body{
    background-color: rgba(245, 94, 7, 0.315);
   
}

    

.container{
    width:763px; 
   height:70px;
   background-color:rgb(112, 41, 8);
   margin: 20px 70px ;
   text-align: center;border-radius: 10px;
}
.recip-container{
   margin: 20px 70px ;
   width:763px;
   padding-top: 40px ;
   padding-right:0px;
}
.cake-recipe,.cookie-recipe{
   display:inline-block;
   margin: 20px 30px 90px 0px;
   height:fit-content;
   width:fit-content;
   background-color:rgb(112, 41, 8);
   padding:50px;
   text-align: center;
   border-radius: 10px;
   padding-bottom: 20px;
}
